<% provide(:title, "Teams") %>

<h2>Teams</h2>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Your role</th>
  </tr>
  <% @teams.each do |team| %>
    <tr>
      <td>
        <%= link_to team.name, team_path(team) %>
        <span class="badge"><%= team.users.count %></span>
      </td>
      <td>
        <%= current_user.role(team) %>
      </td>
    </tr>
  <% end %>
</table>

<%= form_for(@team, html: {class: "form-horizontal"}) do |f| %>
  <%= render 'shared/error_messages', f: f %>
    <div class="input-group">
      <%= f.label :name, hidden: true %>
      <%= f.text_field :name, placeholder: "Team name", class: "form-control" %>
      <span class="input-group-btn">
        <%= f.submit "Create new team", class: "btn btn-primary" %>
      </span>
  </div>
<% end %>

