<% provide(:title, "Articles") %>

<h2>Articles</h2>

<%= link_to "Create Article",
            new_article_path,
            class: "btn bnt-xs btn-primary" %>

<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Updated date</th>
    <th>Create user</th>
    <th>Latest edit user</th>
    <th></th>
  </tr>
  <% @articles.order("updated_at").reverse_order.each do |article| %>
    <tr>
      <td>
        <%= link_to article.title, article %>
        <span class="badge"><%= article.comments.count %></span>
      </td>
      <td><%= format_time article.updated_at, short: true %></td>
      <td>
        <%= render 'users/link', user: article.create_user, show_img: true %>
      </td>
      <td>
        <%= render 'users/link', user: article.latest_edit_user, show_img: true %>
      </td>
      <td>
        <%= link_to article,
                    method: :delete,
                    data: { confirm: "You sure?" },
                    class: "btn btn-xs btn-warning" do %>
          <span class="glyphicon glyphicon-remove"></span>Delete
        <% end %>
      </td>
    </tr>
  <% end %>

</table>
