<% provide(:title, @article.title) %>


<h2><%= @article.title%></h2>
<h4><small>
  Created by <%= render 'users/link', user: @article.create_user, show_img: false %> |
Latest edited by <%= render 'users/link', user: @article.latest_edit_user, show_img: false %>
</small></h4>

<hr>

<%= link_to "Edit", edit_article_path(@article),
            class: "btn bnt-xs btn-primary" %>
<% if @article.logs.length > 1 %>
  <%= link_to "History",
              diff_articles_path(id1: @article.latest_log.prev,
                                 id2: @article.latest_log),
              class: "btn bnt-xs btn-defalut" %>
  <%= link_to "Show Logs",
              article_logs_path(@article),
              class: "btn bnt-xs btn-defalut" %>
<% end %>
<%= link_to "Delete" , @article, class: "btn bnt-xs btn-warning",
            method: :delete, data: { confirm: "You sure?" } %>

<hr>

<%= markdown @article.content %>

