<% provide(:title, @article.title) %>

<h2>
  <%= @article.title %>
  <span class="badge"><%= @article.comments.count %></span>
</h2>
<h4><small>
  Created by
  <%= render 'users/link',
             user: @article.create_user,
             show_img: false %>
  |
  Latest edited by
  <%= render 'users/link',
             user: @article.latest_edit_user,
             show_img: false %>
</small></h4>

<hr>

<% unless current_user.guest?(@team) %>
  <%= link_to "Edit", edit_article_path(@team, @article),
              class: "btn bnt-xs btn-primary" %>
<% end %>
<% if @article.logs.length > 1 %>
  <%= link_to "History",
              diff_articles_path(id1: @article.latest_log.prev,
                                 id2: @article.latest_log),
              class: "btn bnt-xs btn-defalut" %>
  <%= link_to "Show Logs",
              article_logs_path(@team, @article),
              class: "btn bnt-xs btn-defalut" %>
<% end %>
<% if current_user.admin?(@team) %>
  <%= link_to "Delete", article_path(@team, @article),
              class: "btn bnt-xs btn-warning",
              method: :delete, data: { confirm: "You sure?" } %>
<% end %>
<hr>

<%= @article.formatted_content.try(:html_safe) %>

<div class="panel panel-default">
  <div class="panel-heading">Comments</div>
  <div id="comments" class="panel-body">
    <%= render 'comments/index', comments: @article.comments %>
  </div>
  <div class="panel-body">
    <%= render 'comments/new', comment: @comment %>
  </div>
</div>
