<% provide(:title, "Article Logs") %>

<h2>Article Logs</h2>

<%= form_tag({ controller: 'article_logs', action: 'diff' }, { method: :get }) do %>

    <table class="table table-striped">
      <tr>
        <td>L</td>
        <td>R</td>
        <th>Title</th>
        <th>Updated date</th>
        <th>Edit user</th>
      </tr>
      <% @article_logs.order("created_at").reverse_order.each_with_index do |article_log, i| %>
        <tr>
          <td>
            <%= radio_button_tag 'id1', article_log.id, nil,
                                 {checked: (i == 0) } %>
          </td>
          <td>
            <%= radio_button_tag 'id2', article_log.id, nil,
                                 {checked: (i == 0) } %>
          </td>
          <td>
            <%= link_to article_log_path(@team, article_log) do %>
              <%= truncate(article_log.title, length: 30) %>
            <% end %>
          </td>
          <td><%= format_time article_log.created_at %></td>
          <td>
            <%= render 'users/link', user: article_log.user, show_img: false %></td>
          </td>
          </tr>
      <% end %>
    </table>

    <%= submit_tag 'Diff', class: "btn bnt-xs btn-primary" %>

<% end %>
