<% provide(:title, @article_log.title) %>

<h2><%= @article_log.title%></h2>
<h4><small>
  It was written in '<%= format_time @article_log.created_at %>'
  by <%= render 'users/link', user: @article_log.user, show_img: false %>
</small></h4>

<hr>

<% if @article_log.prev %>
  <%= link_to "History",
              diff_articles_path(id1: @article_log.prev,
                                 id2: @article_log),
              class: "btn bnt-xs btn-primary" %>
<% end %>

<hr>

<%= @article_log.formatted_content.html_safe %>
